@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body

{
    background-color: #2080A1;
    font-family: 'Open Sans', sans-serif;
}

header
{
    text-align: center;
    font-size: large;
    margin: 2rem;
    
    background-color: #B9FDB9;
    padding: 0.25rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    font-family: 'Open Sans', sans-serif;
}
p
{
    display: block;
    font-size: large;
    font-weight: 600;
}

main
{

    text-align: center;
    margin: 1rem;
    margin-bottom: 2rem;
    background-color: #F7FF09;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
  
}

input
{

    
        font-size: large;
        outline: #2080A1;
        padding: 0.6rem 1rem;
        margin: 2rem;
      
        border: 2px solid #62a301;
        border-radius: 0.5rem;
      
        
        max-width: 258px;
    
}

#check-btn
 {

    background: var(--primary-color);
    border: none;
    color: black;
    /* padding: 0.7rem 1rem; */
    padding: 0.7rem 4rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #2080A1;
  background-color: #62a301 ;
    margin: auto;
    display: block;
}

#display-output
{
    font-size: x-large;
    margin: 2rem 0;
    color: rgb(219, 43, 43);
}